<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="../../css/OM.css">
<title>Edit Product</title>
<script type="text/javascript" src="../../js/jquery-3.2.0.js"
	th:src="@{/js/jquery-3.2.0.js}"></script>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(function() {
		$("#editForm").submit(function(e) {
			var form = $("#editForm");
			e.preventDefault();
			var formData = {};
			formData["id"] = $('#productId').val();
			formData["name"] = $('#productName').val();
			formData["description"] = $('#productDesc').val();
			formData["price"] = $('#productPrice').val();
			formData["quantity"] = $('#productQuantity').val();
			$.ajax({
				url : '/editProduct',
				contentType : 'application/json; charset=utf-8',
				type : 'POST',
				dataType : 'json',
				data : JSON.stringify(formData),
				cache : false,
				success : function(response) {
					//$("#div1").html(response);
				}
			});
			alert("Product Edited");
			//$('#prodForm')[0].reset();
			//displayProducts();
		});
	});

	/*]]>*/
</script>
</head>
<body>
	<form id="editForm" name="editForm" action="/editProduct" method="post">
		<div class="alignCenter padding15">
			<div class="floatLeft selectWidth15" th:id="id"
				th:text="${prodDetails.id}"></div>
			<div class="floatLeft selectWidth30 alignLeft" th:id="name">
				<input type="text" th:text="${prodDetails.name}" />
			</div>
			<div class="floatLeft selectWidth10" th:id="description">
				<input type="text" th:text="${prodDetails.description}" />
			</div>
			<div class="floatLeft selectWidth10 alignRight" th:id="price">
				<input type="text" th:text="${prodDetails.price}" />
			</div>
			<div class="floatLeft selectWidth10 alignRight" th:id="quantity">
				<input type="text" th:text="${prodDetails.quantity}">
			</div>
			<div class="clear"></div>
		</div>
		<div class="floatRight selectWidth35">
			<div class="padding10"></div>
			<input id="QuickEdit" type="submit" value="Edit Product"
				class="greenButton">
		</div>
	</form>
</body>
</html>